---
layout: default
title: Booking and Contact

---

{% assign store = site.data.store %}

{% include site-header.html %}

<div style="overflow: scroll; scroll-behavior: smooth;">
<main class="main container">


  <article class="article  article--page  container  typeset" >
   
   	<h2>Location</h2>
 	<div class="container--store-info ">
		<div class="store-s">
		<img src="{{ site.baseurl}}/assets/images/stockphotos/location.png"  alt="profile_picture" >
		</div>
		<div class="store-info">
      	  <p> Location: {{store.location}} <br>
       	   Phone: {{store.phone}} <br>
     	   Email: {{store.email}} <br>
     	   Hours:<br>{% for day in store.hours %}&emsp;{{day[0]}}: {{day[1]}}<br>
       	   {% endfor %}
       	</p>
		</div>
    </div>	
	
	<h2> Map </h2>

	<div class="container card">
	{% include map.html id="15IdOXjJuo3ttjSZ2SGKJI6suNvoXndN-" title="Toys R Us map" %}
	</div>

	<h2>Booking</h2>
	<div class="container card">
	{% include site-form.html %}
	</div>
 	<p id="demo"></p>


  </article>

  {% if page.aside == true %}{% include site-aside.html align="left"%}{% endif %}

</main>

{% include site-footer.html %}
</div>


