// Background colours
$backgroundColour: #000000;
$codeBackgroundColour: #fafafa;
$featureBackgroundColour: rgba(0,0,0, 0); // transparent
$accentColour: #FFFFFF; //#05bf85;
$headerBackgroundColor:  rgba(0,0,0,0);

// Text colours
$headingColour: #FFFFFF;
$bodyColour: #FFFFFF;
$linkColour: #FFFFFF;//#05bf85;
$hoverColour: #AEAEAE;
$focusColour: #fa407a;
$captionColour: #AEAEAE;
$white: #ffffff;

$headerSize: 60px;
$maxLogoWidth: 750px;

/*
black1: #2E221C
dim gray1: #7C5C4C
gray: #9E9284
dim gray2: #5A4C41
black2: #050504
*/

// Typography
$bodytype: (
  font-family: 'Arial, serif',
  regular: 400,
  bold: 700,
  italic: italic,
  cap-height: 0.75
);

$headingtype: (
  font-family: '"Arial", serif',
  regular: 400,
  bold: 700,
  cap-height: 0.75
);

$monospacetype: (
  font-family: 'Menlo, monospace',
  regular: 400,
  cap-height: 0.68
);

// Font import, if you're using a non-standard web font
@import url('https://fonts.googleapis.com/css?family=Merriweather:400,700');