---
title: false
styles: true
---

@import "alembic";


.instaimg img {margin-bottom:30px;}
.instaimg img:hover {
	opacity:0.8;
	-moz-opacity:0.8;
	-webkit-opacity:0.8;
}

#sitebar {
    top: 0px;
	position: sticky;
	background: rgba(0,0,0,0.9);
	//z-index: 1;

}

