---
title: false
styles: true
---

@import "alembic";


.instaimg img {margin-bottom:30px;}
.instaimg img:hover {
	opacity:0.8;
	-moz-opacity:0.8;
	-webkit-opacity:0.8;
}

#sitebar {
    top: 0px;
	position: sticky;
	background: $headerBackgroundColor;

	z-index: 1;

}


.header a {
  color: white;
  text-align: center;
  text-decoration: none;
  line-height: 74px; // should be larger than logo size
  border-radius: 4px;
  @include flexbox;
  @include align-items(center);
  padding: 0px 12px; // 
  margin: 0px 6px;
}


.header a:hover {
  color: $hoverColour;
  
}

.header a.active {
  background-color: dodgerblue;
  color: white;
}


// MEET THE TEAM 

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: .8rem 0;
  background: #16181D;
  opacity: 0.8;
  flex-basis: 30%;

}


@media(min-width: 800px){
	.container--artist{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	}	
}
