---
layout: default
---


{% for user in site.instagram %}
	{% if user[0] == page.title %}
		{% assign ighandles = user[1].ig_handle %}
	{% endif %}
{% endfor %}

{% for artist in site.artist %}
	{% if artist[0] == page.title %}
		{% assign artist_categories = artist[1] %}
	{% endif %}
{% endfor %}

{% include site-header.html %}
<div style="overflow: scroll;">
<main class="main container">


  <article class="article  article--page  container  typeset" >

    <h1> {{ page.title }} </h1>
	<div class="row">
		<div class="col-lg-4">
			<img src="{{ site.baseurl }}{{ page.profile_picture }}" alt="{{ page.profile_picture }}"/>
		</div>
		<div class="col-lg-8">
			{{ content }}
		</div>
	</div>

    <hr>
    
 	<h2> Recent Work </h2> 
 	<a name=recentwork></a>

 	 {% for username in ighandles %}
		<div id="instafetch-{{ username.userID }}"  class="row gallery" userid={{username.userID}} 
			token={{username.authToken}} tag={{tag[1]}}></div>
	{% endfor %}
	 <hr>

	
	{% for art in artist_categories%}
	<a name={{ art[0]| remove: " "}} ></a>
	<h2> {{ art[0]}} </h2>
	 {% assign postsCounter = postsCounter | plus: 1 %}

	<div class="row gallery" >
		{% for image in site.static_files %}
    		{% if image.path contains art[1] %}
			<div class="col-lg-4 instaimg">
			<a href="{{ site.baseurl }}{{image.path}}" title="" target="_blank">
       			<img src="{{ site.baseurl }}{{ image.path }}" alt="image" />
       		</a>
			</div>
			{% endif %}
		{% endfor %}
	</div>

	 {% if postsCounter < artist_categories.size %}<hr>{% endif %}


	{% endfor %}

 <p id="demo"></p>


  </article>

  {% if page.aside == true %}{% include site-aside.html align="left"%}{% endif %}

</main>

{% include site-footer.html %}
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
<script type="text/javascript" src="{{site.baseurl}}/assets/magnific.min.js"></script>
<script type="text/javascript" src="{{site.baseurl}}/assets/instafeed.min.js"></script>
<script type="text/javascript" src="{{site.baseurl}}/assets/custom.js"></script>


<script type="text/javascript">

</script>