---
layout: default
---
{% include site-header.html %}


{% for user in site.instagram %}
	{% if user[0] == page.title %}
		{% assign tags = user[1].tags %}
		{% assign ighandles = user[1].ig_handle %}
	{% endif %}
{% endfor %}


<main class="main container" style="background: rgba(0, 0, 0, 0 );" >

  <article class="article  article--page  content  typeset">

    <h1 >{{ page.title }} </h1>
   

     <img src="{{ site.baseurl }}{{ page.profile_picture }}" alt="{{ page.profile_picture }}"/>
    {{ content }}


    <hr>
 	{% for username in ighandles %}
 	{{username}} <br>
	{% endfor %}
	<br>
    {% for art_style in tags %}
 	Title: {{art_style[0]}}  Hashtag: {{art_style[1]}} <br>
	{% endfor %}

  </article>

  {% if page.aside == true %}{% include site-aside.html %}{% endif %}

</main>

{% include site-footer.html %}

<script type="text/javascript" src="/assets/instafeed.min.js"></script>
