---
layout: default
---
{% include front-page-header.html %}


 <!-- Main content 
<main class="main container" style="background-image: url(/assets/images/image.png)">
--> 
<div style="overflow: scroll; scroll-behavior: smooth;">

<main class="main container" >

  <article class="article  article--page  content  typeset">
  	<hr>
    <h1 >{{ page.title }} </h1>

    {{ content }}

  </article>

  {% if page.aside == true %}{% include site-aside.html %}{% endif %}

</main>

{% include site-footer.html %}
</div>