---
layout: default
---
{% include front-page-header.html %}


 <!-- Main content 
<main class="main container" style="background-image: url(/assets/images/image.png)">
--> 
<main class="main " style="width: 95%; max-width: 50%; margin: 0 top;">

  <article class="article  article--page  content  typeset">
  	<div class="fade-in">
  	<hr>
    <h1 >{{ page.title }} </h1>
    {{ content }}
	</div>

  </article>

  {% if page.aside == true %}{% include site-aside.html %}{% endif %}

</main>

{% include site-footer.html %}
 