---
layout: default
title: Booking and Contact

---

{% assign conventions = site.data.conventions %}

{% include site-header.html %}

<div style="overflow: scroll; scroll-behavior: smooth;">
<main class="main container">


  <article class="article  article--page  container  typeset" >
   
   	<h2>Upcoming Conventions</h2>
	{% for event in conventions %}
	<div id="event-{{ event.end_date | date: '%Y%m%d' }}" event-end="{{event.end_date}}"> 

	<div class="container--event-info">
		<div class="event-img">
			<a href="{{event.website}}">
			<img src="{{ site.baseurl}}{{event.showcase_img}}"  alt="profile_picture" >
			</a>
			<button id="bookbtn" type="button" class="btn btn-dark" style="margin-top: .6rem; width: 200px;" start_date="{{event.start_date}}" end_date="{{event.end_date}}" name="{{event.name}}" artists="{{event.artists}}" showcase_img="{{event.showcase_img}}"

			>book appointment</button>

		</div>
		<div class="event-info">
			<h3>{{event.name}}</h3>
			<ul>
				<!-- --> 
				<li>Date: {{event.start_date | date:"%b %d"}} - {{event.end_date | date: "%b %d %Y"}}</li>
				<li>Artists: 
					{% assign all_artist =  event.artists | split: ", " %}
					{% for artist in all_artist %}
	                	<a href="{{site.baseurl}}/tattoos/{{artist|remove:' ' | downcase}}">{{artist}}
	                		{% if forloop.last == false %},{% endif %}
						</a>
					{% endfor %}
				</li>			
				<li>Address: {{event.address}}</li>			
				<li>Website: <a href="{{event.website}}" style="word-wrap : break-word;">{{event.website}}</a></li>						
			</ul>
		</div>

	</div>
	</div>

	{% endfor %}

  </article>


</main>
{% include site-footer.html %}

</div>

<script type="text/javascript">


function passDateToBooking(button_element, start_date, end_date, artists, name,showcase_img){
	button_element.addEventListener('click', function(){
		localStorage.setItem('start_date', start_date);
		localStorage.setItem('end_date', end_date);
		localStorage.setItem('artists', artists);
		localStorage.setItem('name', name);
		localStorage.setItem('showcase_img', showcase_img);

		window.document.location = "./book";
	});
}

const init = function(e){

	let eventdates = document.querySelectorAll("[id^='event']");
	let showPass = 0;
	
	for(var i = 0; i < eventdates.length; i++){
		var date = eventdates[i].getAttribute('event-end').replace(/-/g, '');
		
		if(date < getCompareDate()){
			if(!showPass){
				eventdates[i].innerHTML = '<h2>Past Conventions</h2>' + eventdates[i].innerHTML;;
				showPass = 1;
			}
			var button = eventdates[i].querySelector("#bookbtn")
			button.innerHTML="Finished";
			button.disabled=true;
		}
	}
	
	let btn = document.querySelectorAll("#bookbtn");
	for(var i = 0; i < btn.length; i++){
		var date = btn[i].getAttribute("start_date");
		var artists = btn[i].getAttribute("artists");
		var name = btn[i].getAttribute("name");
		var showcase_img = btn[i].getAttribute("showcase_img");
		var end_date = btn[i].getAttribute("end_date");

		passDateToBooking(btn[i], date, end_date , artists, name,showcase_img);
	}
	
};

document.addEventListener('DOMContentLoaded', function(){
	init();
});

function getCompareDate() { 
  var d = new Date(), 
      month = '' + (d.getMonth() + 1), 
      day = '' + d.getDate(), 
      year = d.getFullYear(); 
  if (month.length < 2) month = '0' + month; 
  if (day.length < 2) day = '0' + day; 
  return [year, month, day].join(''); 
} 


</script>



